.loginBg {
  background: #e7ecf9;
  min-height: 100vh;
  max-height: max-content;
  width: 100vw;
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.loginCard {
  overflow: hidden;
  box-shadow: 0 0 50px 5px #5b84a766;
  border-radius: 10px;
}

.loginCardLeft {
  height: 500px;
  width: 100%;
  background: url(../public/login-bg.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  position: absolute;
  top: 0px;
  left: 30px;
}

.logoSubtitle {
  color: orange;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
  text-shadow: 0px 1px 2px dimgray;
}

.loginCardRight, .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginCardRight {
  height: 500px;
}

.loginHelper {
  width: 60%;
  font-size: 0.9rem;
}

.forgotPsw {
  position: relative;
  color: #ccc;
}

.forgotPsw:hover {
  color: #097ff5;
}

.loginButton {
  width: 65%;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #097ff5 0%, #EC6EAD  60%, #f58220  100%);
  background-size: 200% auto;
  margin: 15px 0;
}

.loginButton:hover {
  background-position: right center;
}

@media screen and (max-width: 599px) {
  .inputField, .loginButton {
    width: 80%;
  }
}
