.loginBg {
  background: #e7ecf9;
  min-height: 100vh;
  max-height: max-content;
  width: 100vw;
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.loginCard {
  overflow: hidden;
  box-shadow: 0 0 50px 5px #5b84a766;
  border-radius: 10px;
}

.loginCardLeft {
  height: 500px;
  width: 100%;
  background: url(../public/login-bg.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0px;
  left: 30px;
}

.logoSubtitle {
  color: orange;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
  text-shadow: 0px 1px 2px dimgray;
}

.loginCardRight, .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginCardRight {
  height: 500px;
}

.inputField {
  background: #f7f7f7;
  font-size: 16px;
  color: dimgray;
  outline: none;
  border: none;
  border-left: 5px solid #097ff5;
  padding: 15px 10px;
  width: 65%;
  margin-bottom: 15px;
}

.inputField:focus {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgb(180, 180, 180), inset -0.2rem -0.2rem 0.5rem lightgray;
  background: #e7ecf9;
  border-radius: 0 10px 10px 0;
  border-left-color: #f58220;
}

.inputField::placeholder {
  font-size: 16px;
  color: #c7c8ca;
}

.loginHelper {
  margin: 0 0 20px;
  width: 60%;
  font-size: 0.9rem;
  color: #ccc;
}

.forgotPsw:hover {
  color: #097ff5;
}

.loginButton {
  width: 65%;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  background-image: linear-gradient(to right, #097ff5 0%, #EC6EAD  60%, #f58220  100%);
  background-size: 200% auto;
}

.loginButton:hover {
  background-position: right center;
}
